@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
font-family: Roboto, sans-serif;
 max-width: 1366px;
 margin: 0 auto;
}
.bg {
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 768px;
}
.container{
    max-width: 1066px;
    box-sizing: border-box;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo-home{
    display: flex;
    justify-content: center;
    max-width: 210px;
    text-decoration: none;
    margin-top: 51px;
}
.logo-show-img{
    width: 53px;
    height: 47px;
    margin-right: 10px;
}
.logo-hide-img{
    display: none;
    width: 53px;
    height: 47px;
    margin-right: 10px;
}
.logo-home:hover .logo-hide-img {
    display: block;
}
.logo-home:hover .logo-show-img {
    display: none;
}
.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80px;
}
h1{
    color: white;
    font-size: 29px;
    font-weight: 700;
}
h2{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
p{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
span{
    color: white;
}

p:hover{
    color: #F26522;
}

.logo-home:hover > .text h1,
.logo-home:hover > .text h2
{
    color: #F26522;
}
.contact{
    margin-top: 46px;
    padding-bottom: 17px;
     text-align: right;
}
.contact a:hover{
    color: #F26522;
}

.contact > a{
    color:white;
    font-size: 18px;
    text-decoration: none;
}
.phone > a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/*end header*/

.grid {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 300px 300px 300px;
    gap: 80px;
    grid-template-areas:
"img1 img2 img3"
"img4 img5 img6";
}
.grid-img{
    width: 300px;
    height: 220px;
}
.image{
    position: relative;
    justify-items: center;
    justify-content: center;
    width: 300px;
    height: 220px;
    text-decoration: none;
   background:
            linear-gradient(to right, black, white),
            linear-gradient(to right, red , blue);
   background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;}

.image-hover{
    display: none;
    position: absolute;
    bottom: 47px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    font-weight: 400;
    background-color: #F26522;
    transform: translateY(100%);
    z-index: 1;
    height: 48px;
    align-items: center;
    padding: 0 10px;
    max-width: 280px;
    width: 100%;
}
.image-first-child{
    display: flex;
    flex-direction: column;
}
.image:hover .image-hover{
    display: flex;
}
.image:hover p{
    color: #F26522;
}
.grid  p{
    text-align: center;
    text-decoration: none;
}
.fr{
    font-size: 10px;
}
.price{
    font-size: 20px;
}
.details{
    font-size: 14px;
}
.details:last-of-type:after{
    content:">";
    color: white;
    padding-left: 10px;
}

.footer-info{
    font-size: 12px;
    color: white;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 79px;
}
